.container {
    padding: 0px;
}

.btnAdd {
    display: inline-block;
    border: none;
    background-color: #999;
    padding: 7px 20px;
    cursor: pointer;
}

.btnAdd:hover {
    background-color: #555;
    color: #fff;
}
